.signinForm__heading {
    color: #333;
    font-size: 26px;
    text-align: center;
    line-height: 1;
    margin-bottom: 15px;
}

.signinForm__description {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.signinForm__form {
    max-width: 300px;
    margin: 0 auto;
}

.signinForm__button {
  margin-top: 40px;
  text-align: center;
}
