.inlineMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inlineMenu:not(.inlineMenu--theme-dark), .inlineMenu:not(.inlineMenu--theme-dark) a {
  color: #1a1f21;
}

.inlineMenu li {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0;
}

.inlineMenu li > * {
  font-size: 14px;
}

.inlineMenu li:first-child {
  padding-left: 0;
}

.inlineMenu li:last-child {
  padding-right: 0;
}

/* Theme modifier */
.inlineMenu--theme-dark, .inlineMenu--theme-dark a {
  color: rgba(255,255,255,0.75);
}

.inlineMenu--theme-dark, .inlineMenu--theme-dark a:hover {
  color: #fff;
}
