* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,"BlinkMacSystemFont","Helvetica Neue","Segoe UI",sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #445d6e;
  background-color: #fff;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0
}

h1 {
    font-size: 32px;
    font-weight: 600
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 20px;
    font-weight: 600
}

h4 {
    font-size: 16px;
    font-weight: 600
}

h5 {
    font-size: 14px;
    font-weight: 600
}

h6 {
    font-size: 12px;
    font-weight: 600
}
